@model AspnetMvcDemo.Models.TechnicalReport

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>TechnicalReport</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FactoryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FactoryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.laboTechStaff)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.laboTechStaff)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProductQuality)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductQuality)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FactoryWarnings)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FactoryWarnings)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProceduresRequired)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProceduresRequired)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Factory.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Factory.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
