@model AspnetMvcDemo.Models.BlockFactory

@{
    ViewBag.Title = "إنشاء مصنع بلوك";
}

@section Scripts {
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/validate/validate")
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyABsPRMD1jkSGb6-D88OoFngcCKTU2dT0U"></script>
    @Scripts.Render("~/bundle/vendor/js/gmaps/gmaps")
    @*@Scripts.Render("~/bundle/js/charts_gmaps")*@
}

<script type="text/javascript">
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;
        document.getElementById("lat").value = pos.coords.latitude;
        document.getElementById("lon").value = pos.coords.longitude;
        var myLatLng = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude),
            myOptions = {
                zoom: 13,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            },
            map = new google.maps.Map(document.getElementById('gmaps-example'), myOptions),
            marker = new google.maps.Marker({ position: myLatLng, map: map });

        marker.setMap(map);
        //moveBus(map, marker);

        google.maps.event.addListener(map, "click", function (event) {
            // get lat/lon of click
            var clickLat = event.latLng.lat();
            var clickLon = event.latLng.lng();

            // show in input box
            document.getElementById("lat").value = clickLat.toFixed(3);
            document.getElementById("lon").value = clickLon.toFixed(3);

            if (marker && marker.setMap) {
                marker.setMap(null);
            }
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(clickLat, clickLon),
                map: map
            });

            marker.setMap(map);
        });
    }



    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }


    $('document').ready(function () {
        navigator.geolocation.getCurrentPosition(success, error, options);

    });

</script>
<style type="text/css">

    .nav-tabs-top {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .table {
        border-bottom: solid 2px #eeeeee;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        text-align: left;
        vertical-align: text-bottom;
    }

    #gmaps-example {
        height: 400px !important;
        width: 100% !important;
    }

    .switcher-label {
        color: #141514;
    }

    .card-text:last-child {
        margin-bottom: 0;
        margin-top: 25px;
    }

    .page-header {
        padding-top: 2%;
        padding-bottom: 5%;
    }

    input {
        align-self: end;
    }

    label {
        align-self: end;
        text-align: right;
    }

    .nav-link {
        text-align: right;
        font-weight: bold;
    }

    h3 {
        text-decoration: underline;
    }

    .tab-pane {
        box-shadow: 2px 2px lightgray;
    }

    .nav-tabs {
        box-shadow: 0.5px 0.5px lightgray;
    }
</style>
<script type="text/javascript">

    function initialize() {
        document.getElementById("lat").value = 24.7136;
        document.getElementById("lon").value = 46.6753;
        var myLatLng = new google.maps.LatLng(24.7136, 46.6753),
            myOptions = {
                zoom: 13,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            },
            map = new google.maps.Map(document.getElementById('gmaps-example'), myOptions),
            marker = new google.maps.Marker({ position: myLatLng, map: map });

        marker.setMap(map);
        //moveBus(map, marker);

        google.maps.event.addListener(map, "click", function (event) {
            // get lat/lon of click
            var clickLat = event.latLng.lat();
            var clickLon = event.latLng.lng();

            // show in input box
            document.getElementById("lat").value = clickLat.toFixed(3);
            document.getElementById("lon").value = clickLon.toFixed(3);

            if (marker && marker.setMap) {
                marker.setMap(null);
            }
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(clickLat, clickLon),
                map: map
            });

            marker.setMap(map);
        });
    }

    $('document').ready(function () {
        initialize();

        $("#btnSet").click(function () {
            //alert("Lat : " + document.getElementById("lat").value + "; Long : " + document.getElementById("lon").value);
            var myLatLng = new google.maps.LatLng(document.getElementById("lat").value, document.getElementById("lon").value)

            myOptions = {
                zoom: 13,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            },

                map = new google.maps.Map(document.getElementById('gmaps-example'), myOptions),

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(document.getElementById("lat").value, document.getElementById("lon").value),
                    map: map
                });

            marker.setMap(map);
        });
    });



</script>

<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">

    <div class="page-header  align-items-center">
        <h3 style="text-align : right">@Resources.Resources.Create_Factory</h3>
    </div>


    @using (Html.BeginForm("CreateBlockFactory", "Factory", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="nav-tabs-top nav-responsive-xl">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#navs-top-responsive-link-1" style="width:100%">@Resources.Resources.Factory_Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-2" style="width:100%">@Resources.Resources.Factroy_Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-3" style="width:100%">@Resources.Resources.Owner_Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-4" style="width:100%">@Resources.Resources.Attachments</a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane fade show active" id="navs-top-responsive-link-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-label">@Resources.Resources.Factory_Name</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = true, @autofocus = "autofocus" })
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">@Resources.Resources.Factory_Status</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<select class="form-control">
                                        <option selected="selected">@Resources.Resources.Select_Factroy_Type</option>
                                        <option>@Resources.Resources.Manual</option>
                                        <option>@Resources.Resources.Semi_Atuomatic</option>
                                        <option>@Resources.Resources.Atuomatic</option>
                                    </select>*@
                                @{
                                    var selectList = new SelectList(
                                        new List<SelectListItem>
                                        {

                                                                                                                    new SelectListItem {Text = "مقتوح", Value = "open"},
                                                                                                                    new SelectListItem {Text = "مغلق", Value = "close"},
}, "Value", "Text");
                                }
                                @Html.DropDownListFor(m => m.Type, selectList, "اختر حالة المصنع", new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Produce_Power</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="number" />*@
                                @Html.TextBoxFor(m => m.ProductionCapacity, new { type = "number", min = "0", step = "1", @class = "form-control" })
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Average_Daily_Production</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="number" />*@
                                @Html.TextBoxFor(m => m.DailyProductionRate, new { type = "number", min = "0", step = "1", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Total_Mixers_Number</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="number" />*@
                                @Html.TextBoxFor(m => m.NumberofMixers, new { type = "number", min = "0", step = "1", @class = "form-control" })
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Total_Truckers_Number</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="number" />*@
                                @Html.TextBoxFor(m => m.NumberofTrucks, new { type = "number", min = "0", step = "1", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Factory_Phone_Number </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="text" />*@
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @required = true })
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Factory_Fax </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="text" />*@
                                @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control", @required = true })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label"> @Resources.Resources.Post_Code </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="text" />*@
                                @Html.TextBoxFor(m => m.MailBox, new { @class = "form-control", @required = true })
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="form-label"> @Resources.Resources.Factory_Email </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="email" />*@
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = true })
                            </div>
                        </div>
                    </div>
                </div>
                @*<div id="gmaps-example" style="height:400px; width:100% !important"></div>*@
                <div class="tab-pane fade" id="navs-top-responsive-link-2">
                    <div class="card-body">
                        <div id="gmaps-example" style="height:400px !important; width:100% !important"></div>
                        <div class="card-text">
                            <div class="row" style="border-top:25px;">
                                <div class="col-md-1 form-group">
                                    <label class="form-label">@Resources.Resources.Latitude</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    @*<input type="text" class="form-control" id="lat" />*@
                                    @Html.TextBoxFor(m => m.Latitude, new { id = "lat", @class = "form-control", @required = true })
                                </div>
                                <div class="col-md-1 form-group">
                                    <label class="form-label">@Resources.Resources.Longitude</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    @*<input type="text" class="form-control" id="lon" />*@
                                    @Html.TextBoxFor(m => m.Longitude, new { id = "lon", @class = "form-control", @required = true })
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">@Resources.Resources.Factroy_Location</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    @{
                                        var locationList = new SelectList(
                                            new List<SelectListItem>
                                            {

                                                                                                                                                                            new SelectListItem {Text = "Molhem", Value = "Molhem"},
                                                                                                                                                                            new SelectListItem {Text = "Solay", Value = "Solay"},
                                                                                                                                                                            new SelectListItem {Text = "Nathiem", Value = "Nathiem"},
                                                                                                                                                                            new SelectListItem {Text = "Al-Kharj", Value = "Al-Kharj"},
                                                                                                                                                                            new SelectListItem {Text = "Makkah Road", Value = "Makkah Road"}
}, "Value", "Text");
                                    }
                                    @Html.DropDownListFor(m => m.Location, locationList, "اختيار موقع", new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group" style="-ms-flex-align:end">
                                <button id="btnSet" type="button" class="btn btn-success" style="-ms-flex-align:end">Set</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="navs-top-responsive-link-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-label">@Resources.Resources.Owner_Name </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.OwnerName, new { @class = "form-control", @required = true })
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">@Resources.Resources.Owner_Email </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input type="email" class="form-control">*@
                                @Html.TextBoxFor(m => m.OwnerEmail, new { @class = "form-control", @required = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Owner_Phone_Number</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.OwnerPhoneNumber, new { @class = "form-control", @required = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Manager__Name</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="text" />*@
                                @Html.TextBoxFor(m => m.ManagerName, new { @class = "form-control", @required = true })
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Manager__Email </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="email" />*@
                                @Html.TextBoxFor(m => m.ManagerEmail, new { @class = "form-control", @required = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Manager__PhoneNumber</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="text" />*@
                                @Html.TextBoxFor(m => m.ManagerPhoneNumber, new { @class = "form-control", @required = true })
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Manager_Experience__years_</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="number" />*@
                                @Html.TextBoxFor(m => m.ManagerExperience, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Quality_Engineer_Name</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="text" />*@
                                @Html.TextBoxFor(m => m.EngineerName, new { @class = "form-control", @required = true })
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Quality_Engineer__Email </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="email" />*@
                                @Html.TextBoxFor(m => m.EngineerEmail, new { @class = "form-control", @required = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label">@Resources.Resources.Quality_Engineer__PhoneNumber </label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="text" />*@
                                @Html.TextBoxFor(m => m.EngineerPhoneNumber, new { @class = "form-control", @required = true })
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="form-label"> @Resources.Resources.Quality_Engineer_Experience__years_</label>
                            </div>
                            <div class="col-md-4 form-group">
                                @*<input class="form-control" type="number" />*@
                                @Html.TextBoxFor(m => m.EngineerExperience, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="navs-top-responsive-link-4">
                    <div class="card-body align-items-center table-responsive">
                        <table class="table table-responsive">
                            <thead>
                                <tr style="text-align:center">
                                    <th>@Resources.Resources.File_Name</th>
                                    <th>@Resources.Resources.Attached</th>
                                    <th>@Resources.Resources.Not_Attached</th>
                                    <th>@Resources.Resources.Note</th>
                                    <th>@Resources.Resources.Upload</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                <tr>
                                    <td>@Resources.Resources.Municipality_license</td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <label class="switcher">
                                                <input type="radio" class="switcher-input is-valid" name="switchers-stacked-radio1">
                                                <span class="switcher-indicator">
                                                    <span class="switcher-no"></span>
                                                    <span class="switcher-yes"></span>
                                                </span>
                                                <span class="switcher-label" style="color:black !important">@Resources.Resources.Attached</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <label class="switcher">
                                                <input type="radio" class="switcher-input is-valid" checked name="switchers-stacked-radio1">
                                                <span class="switcher-indicator">
                                                    <span class="switcher-yes"></span>
                                                    <span class="switcher-no"></span>
                                                </span>
                                                <span class="switcher-label" style="color:black !important">@Resources.Resources.Not_Attached</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <input class="form-control" type="text" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <input class="form-control" name="file" type="file" multiple>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Resources.Resources.Industrial_license</td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <label class="switcher">
                                                <input type="radio" class="switcher-input is-valid" name="switchers-stacked-radio2">
                                                <span class="switcher-indicator">
                                                    <span class="switcher-no"></span>
                                                    <span class="switcher-yes"></span>
                                                </span>
                                                <span class="switcher-label" style="color:black !important">@Resources.Resources.Attached</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <label class="switcher">
                                                <input type="radio" class="switcher-input is-valid" checked name="switchers-stacked-radio2">
                                                <span class="switcher-indicator">
                                                    <span class="switcher-yes"></span>
                                                    <span class="switcher-no"></span>
                                                </span>
                                                <span class="switcher-label" style="color:black !important">@Resources.Resources.Not_Attached</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <input class="form-control" type="text" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <input class="form-control" name="file" type="file" multiple>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Resources.Resources.Commercial_Register</td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <label class="switcher">
                                                <input type="radio" class="switcher-input is-valid" name="switchers-stacked-radio3">
                                                <span class="switcher-indicator">
                                                    <span class="switcher-no"></span>
                                                    <span class="switcher-yes"></span>
                                                </span>
                                                <span class="switcher-label" style="color:black !important">@Resources.Resources.Attached</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <label class="switcher">
                                                <input type="radio" class="switcher-input is-valid" checked name="switchers-stacked-radio3">
                                                <span class="switcher-indicator">
                                                    <span class="switcher-yes"></span>
                                                    <span class="switcher-no"></span>
                                                </span>
                                                <span class="switcher-label" style="color:black !important">@Resources.Resources.Not_Attached</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <input class="form-control" type="text" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex form-group">
                                            <input class="form-control" name="file" type="file" multiple>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="form-group" style="-ms-flex-align:end">
                            <input type="submit" class="btn btn-success" style="-ms-flex-align:end" value="@Resources.Resources.Sign_Up" />
                        </div>
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

    }

</body>

