@model AspnetMvcDemo.Models.BringMaterialVM
@{
    ViewBag.Title = "إحضار عينات المواد";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/smartwizard/smartwizard")
}
@section Scripts {
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/smartwizard/smartwizard")
    @Scripts.Render("~/bundle/vendor/js/validate/validate")

    @Scripts.Render("~/bundle/js/forms_wizard")


    @*@Scripts.Render("~/bundle/js/charts_gmaps")*@
}


<body dir="rtl">
    <div class="card" style="top:15%">
        <div class="card-header">
            <h3 style="text-align:center">إحضار عينات مواد</h3>
        </div>

        <div class="card-body">
            @using (Html.BeginForm("Index", "ClassficationFactroy", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div  class="row" style="margin-bottom:2%; text-align:center;" >
                    <div class="col-4" style="font-weight:bold">@Resources.Resources.FactoryLocation</div>
                    <div class="col-8">
                        @Html.DropDownListFor(M => M.locationid, new SelectList(Model.locations, "ID", "Location_Arabic"), new { @class = "form-control", @id = "Location" })
                    </div>
                    </div>

                <div  class="row" style="margin-bottom:2%; text-align:center">
                    <div class="col-4" style="font-weight:bold">
                        @Resources.Resources.Factory_Name
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(M => Model.factId, new SelectList(Model.factories, "Id", "Name"), "اختر اسم المصنع", new { @class = "form-control", @id = "Factories" })

                    </div>
                </div>
             
             <div class="col-12" style="text-align:center;">
                <table class="table">
                <thead>
                    <tr>
                        <th>@Resources.Resources.Material_sample_type</th>
                        <th>@Resources.Resources.Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @{
                                var selectList = new SelectList(
                                    new List<SelectListItem>
                                {
                                            new SelectListItem {Text = "الأسمنت", Value = "cement"},
                                            new SelectListItem {Text = "الماء", Value = "water"},
                                            new SelectListItem {Text = "الرمل", Value = "sand"},
                                            new SelectListItem {Text = "الركام 3/4", Value = "rokam4"},
                                             new SelectListItem {Text = "الركام 3/8", Value = "rokam8"}
                               }, "Value", "Text");
                            }
                            @Html.DropDownListFor( m=> m.Material, selectList, "-- اختر العنصر --", new { @class = "form-control", @id = "dropRank" })

                        </td>
                        <td>
                            <input type="text" class="form-control"/>
                         </td>
                    </tr>
                 </tbody>
                </table>
                 <input type="submit" value="@Resources.Resources.Save" class="btn btn-success" />
                </div>
            }

        </div>
    </div>
</body>
<script type="text/javascript">

    var BaseUrl = '@Url.Content("~/ClassficationFactroy/")';
    $("#visitbutton").prop('disabled', true);

    $(document).ready(function () {

    })

    $('#Location').change(function () {
        var Location = $(this).val();
        var urlPost = '@Url.Action("GetFactories", "BringMaterial")' + "/" + Location;

        $.get(urlPost, function (data) {
            var select = $('#Factories');
            select.append('<option value="">Select a Factory</option>');

            console.log(JSON.stringify(data))
            //$('#Factories').val(data);
            console.log($('#Factories').val())
            var json = JSON.parse(data);
            var len = json.length;
            $("#Factories").empty();

            for (var i = 0; i < len; i++) {
                console.log(json[i])
                var id = json[i]['Id'];
                var name = json[i]['Name'];

                $("#Factories").append("<option value='" + id + "'>" + name + "</option>");

            }

        });
    });


</script>