@model AspnetMvcDemo.Models.AdminVisit
@using Resources

<style type="text/css">
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        .modal-footer {
            align-items: center;
            justify-content: center;
            justify-items: center;
        }
        *{
            text-align:right;
        }

       
    }

            @@media only screen and (min-device-width: 1024px)
        {
          .card{
                top:15%;
          }
        }
</style>


@section Styles {
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/flatpickr/flatpickr")
    @Styles.Render("~/bundle/vendor/css/bootstrap-daterangepicker/bootstrap-daterangepicker")
    @Styles.Render("~/bundle/vendor/css/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker")
    @Styles.Render("~/bundle/vendor/css/timepicker/timepicker")
    @Styles.Render("~/bundle/vendor/css/minicolors/minicolors")
}


@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")
    @Scripts.Render("~/bundle/js/tables_datatables")
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")
    @Scripts.Render("~/bundle/vendor/js/sweetalert2/sweetalert2")
    @Scripts.Render("~/bundle/js/ui_modals")
    @Scripts.Render("~/bundle/vendor/js/moment/moment")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/flatpickr/flatpickr")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-daterangepicker/bootstrap-daterangepicker")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker")
    @Scripts.Render("~/bundle/vendor/js/timepicker/timepicker")
    @Scripts.Render("~/bundle/vendor/js/minicolors/minicolors")
    @Scripts.Render("~/bundle/js/forms_pickers")
}


<body dir="rtl">
    <div class="card" >
        <div class="card-header" style="text-align:right">
            <h3>تعديل تاريخ زيارة</h3>
        </div>
        <div class="card-body">
            <div class="tab-pane fade active show">
                @using (Html.BeginForm("UpdateVisiteDate", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    <form>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="form-label">@Resources.Monitor_Name</label>
                                </div>
                                <div class="col-md-4 form-group">

                                    @Html.HiddenFor(M => M.Id)
                                    @Html.HiddenFor(M => M.MonitorId)
                                    @Html.TextBoxFor(M => M.Monitor, new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">@Resources.Visit_Date</label>
                                </div>
                                <div class="col-md-4 form-group">
                                    @Html.TextBoxFor(model => model.Date, new { @id = "flatpickr-date", @class = "form-control", Value = Model.VisitDate.Value.ToString("yyyy/MM/dd") })

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="form-label">@Resources.Factory_Name</label>
                                </div>

                                <div class="col-md-4 form-group">

                                    @Html.HiddenFor(M => M.FactoryId)
                                    @Html.TextBoxFor(m => m.FactoryName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label class="form-label">@Resources.Factroy_Location</label>
                                </div>
                                <div class="col-md-4 form-group">

                                    @Html.TextBoxFor(m => m.FactoryLocation, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="justify-content:center;">
                            <button type="submit" class="btn btn-success">@Resources.Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.Cancel</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</body>
