@model AspnetMvcDemo.Models.tempretureClass
@using Resources
@{
    ViewBag.Title = "متابعة درجة الحرارة";
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/validate/validate")
    @Scripts.Render("~/bundle/js/forms_wizard")
}

<style type="text/css">
        @*for Mobile Design*@
 @@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


    tr{
      display:grid;
      border-bottom:1px solid #ccc;
    }
   /* Force table to not be like tables anymore */
	table, tbody , thead , td, tr, th  { 
		display: block; 
	}
	table { 
        width :100%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	

	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

   td:before { 
		width: 45%; 
		padding-left: 10px; 
		white-space: nowrap;
        float:right;
        text-align:center;
        font-weight : bold;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "اسم المصنع"; }
	td:nth-of-type(2):before { content: "موقع الزيارة"; }
	td:nth-of-type(3):before { content: "تقرير تحضير العينة"; }
	td:nth-of-type(4):before { content: "إلغاء"; }

      #prepareSample
      {
         width : 100%;
      
      }

}


    @*for General and PC Design*@
    .nav-tabs-top {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 5%;
        
    }
    table {
        background-color : white;
         width:75%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
    }

    a {
        font-weight: bold;
        text-align: right;
    }

    .edit:hover {
        background-color: white;
        color: #02BC77;
    }

    tr:hover {
        color: white;
        background-color: gray;
    }
    .nav-tabs {
       margin-bottom : 1%;
      
    }
     td , tr{
         font-size:large;
     } 

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        text-align: left;
        vertical-align: text-bottom;
    }

    .col-12 {
        align-content: center;
        justify-content: center;
        margin-bottom: 2%;
    }

    .bt {
        justify-self: center;
        align-self: center;
        box-shadow: 2px 2px #808080;
    }

        .bt:hover {
            background-color: darkgrey;
            border-color: black;
            border-style: solid;
            color: black;
            padding: 1%;
        }
        #id{
            box-shadow : 1px 1px gray;
        }
</style>



<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">
    <div class="card" style="top:20%">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <h3 style="text-align:right; padding-right:2%;">@Resources.Follow_the_temperature</h3>
                </div>
                <div class="col-4">
                    <a class="btn btn-success"
                       onclick="Modalpop();"
                       data-dismiss="modal" aria-hidden="true"
                       style="box-shadow : 1px 1px gray; font-size:medium; text-shadow:1px 1px black; color:white;">
                        @Resources.Add_new_temperature
                    </a>
                </div>
            </div>

        </div>

        <div class="card-body">

            <div class="row" style="text-align:center;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Resources.temperature</th>
                            <th>@Resources.Basin_number</th>
                            <th>@Resources.Date_and_time</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.temprutureChecks)
                        {
                        <tr>
                            <td>@item.temperture</td>
                            <td>@item.basin_number</td>
                            <td>@item.date_time</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!--For Add new Tempreture-->
    <div class="modal fade" id="Modal_sucess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title text-primary text-center" id="myModalLabel">@Resources.Add_new_temperature</h3>
                </div>
                @using (Html.BeginForm("Addtemp", "Followings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div id="ModalBody" class="modal-body">
                        <div class="row" style="text-align:center;">
                            <table class="table border-0">
                                <tbody>

                                    <tr>
                                        <td>@Resources.Date_and_time</td>
                                        <td><input class="form-control" type="text" placeholder="@System.DateTime.Now" disabled /></td>
                                    </tr>
                                    <tr>
                                        <td>@Resources.Basin_number</td>
                                        <td>@Html.TextBoxFor(model => model.tempruture.basin_number, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td>@Resources.temperature</td>
                                        <td>@Html.TextBoxFor(model => model.tempruture.temperture, new { @class = "form-control" })</td>
                                    </tr>
                                </tbody>

                            </table>



                        </div>
                    </div>
                    <div id="footer" class="modal-footer">
                        <input style="box-shadow : 1px 1px gray; font-size:medium; text-shadow:1px 1px black; color:white;"
                          type="submit"  class="btn btn-success" value=" @Resources.Save" />
                           
                        
                    </div>
                }
                </div>
            </div>
    </div>


</body>

<script type="text/javascript">
     function Modalpop() {
        
        
            $('#ModalBody').html();
            $('#Modal_sucess').modal('show');

        
    }
</script>



