@model AspnetMvcDemo.Models.othertask
@{
    ViewBag.Title = "مهام أخرى";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/smartwizard/smartwizard")
}
@section Scripts {
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/smartwizard/smartwizard")
    @Scripts.Render("~/bundle/vendor/js/validate/validate")

    @Scripts.Render("~/bundle/js/forms_wizard")


    @*@Scripts.Render("~/bundle/js/charts_gmaps")*@
}

<style>
    *{
        text-align:center;
    }
</style>
<body dir="rtl">
    <div class="card" style="top:15%">
        <div class="card-header">
            <h3 style="text-align:center">مهام أخرى</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Resources.Resources.Factory_Name</th>
                        <th>@Resources.Resources.Date_and_time</th>
                        <th>@Resources.Resources.Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       <td>fact</td>
                        <td>@System.DateTime.Now.ToShortDateString()</td>
                        <td style="text-align:center">
                            <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop()" style="cursor:pointer"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="Modal_sucess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title text-primary text-center" id="myModalLabel">@Resources.Resources.Other_tasks</h3>
                </div>
                
                    <div id="ModalBody" class="modal-body">
                        <div class="row" style="text-align:center;">
                            
                          
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    function Modalpop() {


        $('#ModalBody').html();
        $('#Modal_sucess').modal('show');


    }
</script>
