
@model AspnetMvcDemo.Models.threeCubeOfMonthlySample
@{
    ViewBag.Title = "نتيجة اختبار مقاومة الضغط ";
}

@using Resources
<style type="text/css">
    /* to mobile Design*/
    @@media only screen and (min-device-width: 1024px) {
        .mobile {
            visibility: hidden;
        }
    }

    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {


        tr {
            display: grid;
            border-bottom: 1px solid #ccc;
        }
        /* Force table to not be like tables anymore */
        table, tbody, thead, td, tr, th {
            display: block;
        }

        table {
            width: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }


        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            td:after {
                width: 45%;
                padding-left: 10px;
                white-space: nowrap;
                float: right;
                text-align: center;
                font-weight: bold;
            }

        .form-control forminput {
            width: 40%;
            text-align: center;
        }


        #prepareSample {
            width: 100%;
        }

        td:nth-of-type(1):before {
            content: "No";
        }

        td:nth-of-type(2):before {
            content: "Weight";
        }

        td:nth-of-type(3):before {
            content: "Volume : ";
        }

        td:nth-of-type(4):before {
            content: "Area Loaded : ";
        }

        td:nth-of-type(5):before {
            content: "Unit Weight";
        }

        td:nth-of-type(6):before {
            content: "Test Date : ";
        }

        td:nth-of-type(7):before {
            content: "Age : ";
        }

        td:nth-of-type(8):before {
            content: "Crushing Load";
        }

        td:nth-of-type(9):before {
            content: "Compressive Strength";
        }

        td:nth-of-type(10):before {
            content: "Average Compressive Strength : "
        }

        .col-md-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
            text-align: left;
            vertical-align: text-bottom;
        }

        .mobile {
            visibility: visible;
        }

        .col-md-5 {
            text-align: center;
        }

        .col-md-7 {
            text-align: center;
        }
    }


    /*to Desktop Design*/
    .nav-tabs-top {
    }

    .table {
        border: solid 2px #eeeeee;
        width: 100%;
        background-color: white;
    }

        .table tr td {
            text-align: center;
            vertical-align: middle;
        }

    .page-header {
        padding-top: 2%;
        padding-bottom: 3%;
    }

    .forminput {
        padding-left: 3%;
        outline-color: limegreen;
        outline-style: solid;
        outline-width: thin;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #ffffff;
        ;
    }

    th {
        background: #ffffff;
        ;
        color: black;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ffffff;
        text-align: center;
    }
</style>

<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">


    @using (Html.BeginForm("MonthlyResult", "TestingResults", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {


        <div class="page-header  align-items-center">
            <h2 style="text-align : center">اختبار مقاومة الضغط 28 يوم</h2>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-7">
                        <h4>@Resources.Compressive_Strength_of_Concrete_Cube</h4>
                    </div>
                    <div class="col-md-5">
                        @{

                        }
                        @Resources.Sample_Number   : @Model.SamplePart1.sampleNumber
                    </div>
                </div>
            </div>
        </div>

        <table class="table" dir="ltr">
            <thead style="font-weight:bold">
                <tr>
                    <th> No</th>
                    <th>Weight</th>
                    <th>Volume</th>
                    <th>Area Loaded</th>
                    <th>Unit Weight</th>
                    <th>Test Date</th>
                    <th>Age</th>
                    <th>Crushing Load</th>
                    <th>Compressive Strength</th>
                    <th>Average Compressive Strength</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        @*<input type="text" idx="weight1" class="form-control  forminput" placeholder="@Resources.Enter_Data" />*@
                        @Html.TextBoxFor(x => Model.SamplePart1.weight, new { @class = "form-control  forminput", id = "weight1", placeholder = @Resources.Enter_Data })
                    </td>
                    <td><span class="mobile">3375</span></td>
                    <td><span class="mobile">22500</span></td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart1.unitWeight, new { @class = "form-control  forminput", id = "uWeight1", @readonly = "readonly" })
                    </td>
                    <td>
                    </td>
                    <td>
                        <span class="mobile">28</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart1.crushingLoad, new { @class = "form-control  forminput", id = "cLoad1", placeholder = @Resources.Enter_Data })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart1.CompressiveStrength, new { @class = "form-control  forminput", id = "cStrength1", @readonly = "readonly" })
                    </td>

                </tr>

                <tr>
                    <td>2</td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart2.weight, new { @class = "form-control  forminput", id = "weight2", placeholder = @Resources.Enter_Data })
                    </td>
                    <td>3375</td>
                    <td>22500</td>

                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart2.unitWeight, new { @class = "form-control  forminput", id = "uWeight2", @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBox("DateCreated", DateTime.Today, "{0:dd/MM/yyyy}", new { @class = "form-control  forminput", @readonly = "readonly" })
                    </td>
                    <td>
                        <span>28</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart2.crushingLoad, new { @class = "form-control  forminput", id = "cLoad2", placeholder = @Resources.Enter_Data })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart2.CompressiveStrength, new { @class = "form-control  forminput", id = "cStrength2", @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart3.weight, new { @class = "form-control  forminput", id = "weight3", placeholder = @Resources.Enter_Data })
                    </td>
                    <td>      <span class="mobile">3375</span></td>
                    <td>      <span class="mobile">22500<span></td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart3.unitWeight, new { @class = "form-control  forminput", id = "uWeight3", @readonly = "readonly" })
                    </td>
                    <td>
                        <span class="mobile">@DateTime.Today.ToString("dd/MM/yyyy")</span>
                    </td>
                    <td>
                        <span class="mobile">28</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart3.crushingLoad, new { @class = "form-control  forminput", id = "cLoad3", placeholder = @Resources.Enter_Data })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.SamplePart3.CompressiveStrength, new { @class = "form-control  forminput", id = "cStrength3", @readonly = "readonly" })
                    </td>
                    <td rowspan="3">
                        <span id="acStrength"></span>
                    </td>
                </tr>
            </tbody>

        </table>

    }
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#alertAdded").hide();

        var message = "@TempData["AlertMessage"]";

        if (message != null && message != "") {
            $("#alertAdded").show("fast");
        }
        var q = document.location.search.substr(1).split('?').toString();
        var sNo = document.location.toString().split('MonthlyResult/');
        var sample = sNo[1].toString().split('?');
        $('#sampleNo').html('').append(sample[0]);
        var i = q.split('=');
        var age = i[1];
        $('#age1').html('').append(age);
        $('#age2').html('').append(age);
        $('#age3').html('').append(age);
        //Unit Weight Calculation
        $('#weight1').change(function () {
            var unitWeight;
            var weight1 = $('#weight1').val();
            unitWeight = weight1 / 3375;
            $('#uWeight1').val(unitWeight.toFixed(2));
        });
        $('#weight2').change(function () {
            var unitWeight;
            var weight2 = $('#weight2').val();
            unitWeight = weight2 / 3375;
            $('#uWeight2').val(unitWeight.toFixed(2));
        });
        $('#weight3').change(function () {
            var unitWeight;
            var weight3 = $('#weight3').val();
            unitWeight = weight3 / 3375;
            $('#uWeight3').val(unitWeight.toFixed(2));
        });

        //Comprehensive Strength Calculation
        var cStrength1;
        var cStrength2;
        var cStrength3;
        $('#cLoad1').change(function () {
            cStrength1 = (($('#cLoad1').val())*1000)/22500;
            $('#cStrength1').val(cStrength1.toFixed(2));
        });
        $('#cLoad2').change(function () {
            cStrength2 = (($('#cLoad2').val()) * 1000) / 22500;
            $('#cStrength2').val(cStrength2.toFixed(2));
        });
        $('#cLoad3').change(function () {
            cStrength3 = (($('#cLoad3').val()) * 1000) / 22500;
            $('#cStrength3').val(cStrength3.toFixed(2));

            //Average Comprehensive Strength Calculation
            var acStrength = (cStrength1 + cStrength2 + cStrength3) / 3;
            $('#acStrength').html('').append(acStrength.toFixed(2));
        });


        //$('#cStrength3').change(function () {

        //});

    });
</script>

