@model IEnumerable<AspnetMvcDemo.Models.ApproveMixingDesign>
@using Resources
@{
    ViewBag.Title = "AddTestsMixingDesign";
}
@section Scripts {
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")
    @Scripts.Render("~/bundle/vendor/js/sweetalert2/sweetalert2")
    @Scripts.Render("~/bundle/js/ui_modals")
}
<style type="text/css">
 @*for Mobile Design*@ @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {


        tr {
            display: grid;
            border-bottom: 1px solid #ccc;
        }
        /* Force table to not be like tables anymore */
        table, tbody, thead, td, tr, th {
            display: block;
        }

        table {
            width: 100%;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }


        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            td:before {
                width: 45%;
                padding-left: 10px;
                white-space: nowrap;
                float: right;
                text-align: center;
                font-weight: bold;
            }
            /*
	Label the data
	*/
            td:nth-of-type(1):before {
                content: "اسم المصنع";
            }

            td:nth-of-type(2):before {
                content: "اسم مالك المصنع";
            }

            td:nth-of-type(3):before {
                content: "رتبة العينة";
            }
            td:nth-of-type(4):before {
                content: "التفاصييل";
            }
    }

        .Mix, button {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius : 10px;
        }

        .nav-link {
            margin-bottom: 1%;
            font-weight: bold;
             border-radius : 25px;
        }

        * {
            font-size: large;
        }


    .table {
        border-bottom: solid 2px #eeeeee;
    }

    .page-header {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    h3 {
        text-decoration: underline;
        text-align: right;
    }
</style>
<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">
    <div id="alertApproved" class="alert alert-dark-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @Resources.Approved_Done
    </div>
    <div id="alertDeclined" class="alert alert-dark-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @Resources.Decline_Done
    </div>
    <div class="page-header  align-items-center">
        <h3>@Resources.AddTests</h3>
    </div>
    <div class="nav-tabs-top nav-responsive-xl" style="-ms-flex-direction: column; flex-direction: column; padding-left: 100px; padding-right: 100px;">
        @*@Html.ActionLink("Create New", "AddMixingDesign")*@
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#navs-top-responsive-link-2">@Resources.Waiting</a>
            </li>
           </ul>
        <div class="tab-content">
            <div  id="navs-top-responsive-link-2">
                <div class="card-body Mix">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    @Resources.Factory_Name
                                </th>

                                <th>
                                    @Resources.Owner_Info
                                </th>
                                <th>
                                    @Resources.Concrete_Rank
                                </th>
                                <th>
                                    @Resources.AddTests
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            if (item.Status == "Waiting")
                            {
                                <tbody style="text-align:center">
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FactoryName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.OwnerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ConcreteRank)
                                        </td>
                                        @if (item.IsConcrete == true)
                                        {
                                            <td>
                                                <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop(@item.Id);" data-url="@Url.Action(" TestsDetails", "MixingDesign" , new { id=item.Id })" style="cursor:pointer"></i>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop2(@item.Id);" data-url="@Url.Action("TestsDetails2", "MixingDesign", new { id = item.Id })" style="cursor:pointer"></i>
                                            </td>
                                        }

                                    </tr>
                                </tbody>

                            }
                        }
                    </table>
                </div>
            </div>
         
            <div class="modal fade" id="Modal_sucess" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title text-primary text-center" id="myModalLabel">@Resources.AddTests</h3>
                        </div>
                        <div id="ModalBody" class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    function Modalpop(id) {
        var urlPost = '@Url.Action("TestsDetails", "MixingDesign")'+"/"+id;
        $.get(urlPost, function (data) {

            $('#ModalBody').html(data.toString());

            $('#Modal_sucess').modal('show');

        });
    }
    function Modalpop2(id) {
        var urlPost = '@Url.Action("TestsDetails2", "MixingDesign")'+"/"+id;
        $.get(urlPost, function (data) {

            $('#ModalBody').html(data.toString());

            $('#Modal_sucess').modal('show');

        });
    }
    $(document).ready(function () {
        $("#alertApproved").hide();
        $("#alertDeclined").hide();
        var message ="@TempData["AlertMessage"]";

        if (message != null && message != "") {
            if (message == "Waiting") {
                $("#alertApproved").show("fast");
                $("#alertDeclined").hide();
            }
            else {
                $("#alertApproved").hide();
                $("#alertDeclined").show("fast");
            }
        }
    })

</script>
