@model AspnetMvcDemo.Models.datePickerDailyReport

@using Resources
@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
    @Styles.Render("~/bundle/vendor/css/flatpickr/flatpickr")
    @Styles.Render("~/bundle/vendor/css/bootstrap-daterangepicker/bootstrap-daterangepicker")
    @Styles.Render("~/bundle/vendor/css/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker")
    @Styles.Render("~/bundle/vendor/css/timepicker/timepicker")
    @Styles.Render("~/bundle/vendor/css/minicolors/minicolors")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/moment/moment")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/flatpickr/flatpickr")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-daterangepicker/bootstrap-daterangepicker")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker")
    @Scripts.Render("~/bundle/vendor/js/timepicker/timepicker")
    @Scripts.Render("~/bundle/vendor/js/minicolors/minicolors")

    @Scripts.Render("~/bundle/js/forms_pickers")
    @Scripts.Render("~/bundle/js/tables_datatables")
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")
    @Scripts.Render("~/bundle/vendor/js/sweetalert2/sweetalert2")

    @Scripts.Render("~/bundle/js/ui_modals")
}
<style type="text/css">
  @@media  only screen and  (min-device-width: 1024px){
   #printall  {
       float:left;
   }
  }
 @@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


    tr{
      display:grid;
      border-bottom:1px solid #ccc;
    }
   /* Force table to not be like tables anymore */
	table, tbody , thead , td, tr, th  {
		display: block;
	}
	table {
        width :100%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}


	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

   td:before {
		width: 45%;
		padding-left: 10px;
		white-space: nowrap;
        float:right;
        text-align:center;
        font-weight : bold;
	}

	/*
	Label the data
	*/
	
      #prepareSample
      {
         width : 100%;

      }

}


    @*for General and PC Design*@
    .nav-tabs-top {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 5%;

    }
    table {
        background-color : white;
         width:75%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    a {
        font-weight: bold;
        text-align: right;
    }

    .edit:hover {
        background-color: white;
        color: #02BC77;
    }

    tr:hover {
        color: white;
        background-color: gray;
    }
    .nav-tabs {
       margin-bottom : 1%;

    }
     td , tr{
         font-size:large;
     }
    #prepareSample{
        color : white;
        font-size : large;
         background-color:#2E323A;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
         border-radius : 25px;
    }

       #flatpickr-date
      {
          width:50%;
      }
</style>
<body dir="rtl">
   
    @using (Html.BeginForm("dailyVisitsReport", "Reports", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12" style="text-align:center">
                        <h4>التقرير اليومي للزيارات</h4>
                    </div>
                    <div class="col-12" style="text-align:right">
                        <div class="row">
                            <div class="col-2">
                                <label>اختر التاريخ</label>

                            </div>
                            <div class="col-6">

                                @Html.TextBoxFor(model => model.fromDate, new { id = "flatpickr-date", @class = "form-control" })
                            </div>
                            <div class="col-4">
                                <input class="btn btn-success" value="@Resources.Search" type="submit" />
                                @if (Model.DailyReportViews.Count != 0)
                                {
                                    <a class="btn btn-success" style="color:white" id="printall" href="@Url.Action("PrintAllDailyReport",
                               "DailyReportPrintOut", new { id = Model.DailyReportViews[0].visitId })">طباعة الكل</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatables-demo table table-bordered">
                        <thead style="text-align:center">
                            <tr>
                                <th>@Resources.Factory_Name</th>
                                <th>@Resources.FactoryLocation</th>
                                <th>@Resources.Visit_Date</th>
                                <th>@Resources.Monitor_Name</th>
                                <th>@Resources.Details</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.DailyReportViews)
                        {

                            <tbody style="text-align:center">

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.factroyname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.location)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.visitDate, new { Value = item.visitDate.Value.ToShortDateString() })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.monitorname)
                                    </td>

                                    <td>
                                        <a type="button" style="color:white; " id="editVisit" class="edit btn btn-success"
                                           href="@Url.Action("PrintDailyReport" , "DailyReportPrintOut" , new { id = item.visitId})"
                                           style="cursor:pointer">طباعة</a>
                                    </td>

                                </tr>

                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</body>