@model List<AspnetMvcDemo.ViewModel.VisitDetailsForReports>

@using Resources
@section Styles {
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}
@{ 

    ViewBag.Title = "التقرير السنوي";
}

@section Scripts {

    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    @Scripts.Render("~/bundle/js/tables_datatables")
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")
    @Scripts.Render("~/bundle/vendor/js/sweetalert2/sweetalert2")

    @Scripts.Render("~/bundle/js/ui_modals")
}
<style type="text/css">
    @*for Mobile Design*@
 @@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


    tr{
      display:grid;
      border-bottom:1px solid #ccc;
    }
   /* Force table to not be like tables anymore */
	table, tbody , thead , td, tr, th  {
		display: block;
	}
	table {
        width :100%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}


	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

   td:before {
		width: 45%;
		padding-left: 10px;
		white-space: nowrap;
        float:right;
        text-align:center;
        font-weight : bold;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "اسم المصنع"; }
	td:nth-of-type(2):before { content: "موقع الزيارة"; }
	td:nth-of-type(3):before { content: "تقرير تحضير العينة"; }
	td:nth-of-type(4):before { content: "إلغاء"; }

      #prepareSample
      {
         width : 100%;

      }

}


    @*for General and PC Design*@
    .nav-tabs-top {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 5%;

    }
    table {
        background-color : white;
         width:75%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    a {
        font-weight: bold;
        text-align: right;
    }

    .edit:hover {
        background-color: white;
        color: #02BC77;
    }

    tr:hover {
        color: white;
        background-color: gray;
    }
    .nav-tabs {
       margin-bottom : 1%;

    }
     td , tr{
         font-size:large;
     }
    #prepareSample{
        color : white;
        font-size : large;
         background-color:#2E323A;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
         border-radius : 25px;
    }
</style>
<body dir="rtl">
    
     <div class="card" style="text-align:center">
         <div class="card-header">
             <h3>تقرير متابعة الزيارات الشهرية لمصانع الخرسانة الجاهزة لسنة </h3>
             <h3>عدد الزيارات الشهرية</h3>
         </div>
         <div class="card-body" style="text-align:center">
             <table class="table table-responsive table-responsive-lg table-bordered"  >
                 <thead style="text-align:center">

                     <tr>
                         <td>@Resources.Nom</td>
                         <td>@Resources.FactoryLocation</td>
                         <td>@Resources.Factory_Name</td>
                         <td>@Resources.July</td>
                         <td>@Resources.August</td>
                         <td>@Resources.September</td>
                         <td>@Resources.October</td>
                         <td>@Resources.November</td>
                         <td>@Resources.Dec</td>
                         <td>@Resources.January</td>
                         <td>@Resources.February</td>
                         <td>@Resources.March</td>
                         <td>@Resources.April</td>
                         <td>@Resources.May</td>
                         <td>@Resources.June</td>
                         <td>@Resources.Total</td>
                         <td>@Resources.The_number_of_sediment_samples</td>
                     </tr>
                 </thead>
                 <tbody style="text-align:center">
                 </tbody>
             </table>
         </div>
     </div>
    
</body>
