@model IEnumerable<AspnetMvcDemo.Models.InfractionDetails>
@using Resources
@{
    ViewBag.Title = "AddTestsMixingDesign";
}
@section Scripts {
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")
    @Scripts.Render("~/bundle/vendor/js/sweetalert2/sweetalert2")
    @Scripts.Render("~/bundle/js/ui_modals")
}
<style type="text/css">
 @*for Mobile Design*@ @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {


        tr {
            display: grid;
            border-bottom: 1px solid #ccc;
        }
        /* Force table to not be like tables anymore */
        table, tbody, thead, td, tr, th {
            display: block;
        }

        table {
            width: 100%;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }


        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            td:before {
                width: 45%;
                padding-left: 10px;
                white-space: nowrap;
                float: right;
                text-align: center;
                font-weight: bold;
            }
            /*
	Label the data
	*/
            td:nth-of-type(1):before {
                content: "اسم المصنع";
            }

            td:nth-of-type(2):before {
                content: "اسم مالك المصنع";
            }

            td:nth-of-type(3):before {
                content: "رتبة العينة";
            }
            td:nth-of-type(4):before {
                content: "التفاصييل";
            }
    }

        .Mix, button {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius : 10px;
        }

        .nav-link {
            margin-bottom: 1%;
            font-weight: bold;
             border-radius : 25px;
        }

        * {
            font-size: large;
        }


    .table {
        border-bottom: solid 2px #eeeeee;
    }

    .page-header {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    h3 {
        text-decoration: underline;
        text-align: right;
    }
</style>
<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">
    <div class="page-header  align-items-center">
        <h3>@Resources.Infractions</h3>
    </div>
    <div class="nav-tabs-top nav-responsive-xl" style="-ms-flex-direction: column; flex-direction: column;  -ms-flex-align:center ; padding:5% ; text-align:center">
        @*@Html.ActionLink("Create New", "AddMixingDesign")*@


        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#navs-top-responsive-link-3">@Resources.NotApproved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#navs-top-responsive-link-1">@Resources.Reviewed</a>
            </li>



            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-4"> @Resources.ApprovedBySuperVisor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#navs-top-responsive-link-2">@Resources.ApprovedByDirector</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="navs-top-responsive-link-3" class="tab-pane fade show active">
                <div class="card-body Mix">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    @Resources.Factory_Name
                                </th>

                                <th>
                                    @Resources.Factroy_Location
                                </th>

                                <th>
                                    @Resources.Details
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {

                            <tbody style="text-align:center">
                                @if (item.AdminApproved != true)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FactoryName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>


                                        <td>
                                            <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop(@item.SampleNo);" style="cursor:pointer"></i>
                                        </td>


                                    </tr>
                                }
                            </tbody>


                        }
                    </table>
                </div>
            </div>

            <div id="navs-top-responsive-link-1" class="tab-pane fade">
                <div class="card-body Mix">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    @Resources.Factory_Name
                                </th>

                                <th>
                                    @Resources.Factroy_Location
                                </th>

                                <th>
                                    @Resources.Details
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {

                            <tbody style="text-align:center">
                                @if (item.AdminApproved == true && item.MonitorApproved != true )
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FactoryName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>


                                        <td>
                                            <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop(@item.SampleNo);" style="cursor:pointer"></i>
                                        </td>


                                    </tr>
                                }
                            </tbody>


                        }
                    </table>
                </div>
            </div>
            <div id="navs-top-responsive-link-4" class="tab-pane fade">
                <div class="card-body Mix">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    @Resources.Factory_Name
                                </th>

                                <th>
                                    @Resources.Factroy_Location
                                </th>

                                <th>
                                    @Resources.Details
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {

                            <tbody style="text-align:center">
                                @if (item.MonitorApproved == true && item.Monitor2Approved != true)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FactoryName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>


                                        <td>
                                            <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop(@item.SampleNo);" style="cursor:pointer"></i>
                                        </td>


                                    </tr>
                                }
                            </tbody>


                        }
                    </table>
                </div>
            </div>
            <div id="navs-top-responsive-link-2" class="tab-pane fade">
                <div class="card-body Mix">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    @Resources.Factory_Name
                                </th>

                                <th>
                                    @Resources.Factroy_Location
                                </th>

                                <th>
                                    @Resources.Details
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {

                            <tbody style="text-align:center">
                                @if (item.Monitor2Approved == true)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FactoryName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>


                                        <td>
                                            <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop(@item.SampleNo);" style="cursor:pointer"></i>
                                        </td>


                                    </tr>
                                }
                            </tbody>


                        }
                    </table>
                </div>
            </div>




        </div>
        </div>

   
 
        </body>
<script>

    function Modalpop(id) {
        var urlPost = '@Url.Action("Infraction1", "Infraction")' + "/" + id;
        location.href = urlPost
    }
 
    $(document).ready(function () {
        $("#alertApproved").hide();
        $("#alertDeclined").hide();
        var message ="@TempData["AlertMessage"]";

        if (message != null && message != "") {
            if (message == "Waiting") {
                $("#alertApproved").show("fast");
                $("#alertDeclined").hide();
            }
            else {
                $("#alertApproved").hide();
                $("#alertDeclined").show("fast");
            }
        }
    })

</script>
